.filter-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.inside-container {
  position: absolute;
  width: 100%;
  margin: 5rem 20px;
}

.filter-title {
  font-size: 12px;
  color: var(--drk-grey-1);
  font-weight: bolder;
  text-align: start;
  padding: 15px 0;
}

.filters-btn {
  display: none;
}

/* ======================= MEDIA QUERIES ==================================*/

@media screen and (max-width: 500px) {
  .inside-container {
    display: none;
  }
}
